<% content_for :initialize do %>
<% geocode = @user.geocode.split("\n") %>
<% geocode[1] = geocode[1].split(' ')[1] %>
<% geocode[2] = geocode[2].split(' ')[1] %>
<% debugger %>
  onload="initialize(<%= geocode[1].to_f %>, <%= geocode[2].to_f %>)"
<% # ↑ここで@user.geocodeが--- !ruby/hash:ActiveSupport::HashWithIndifferentAccess\nlat: 35.6894875\nlng: 139.6917064\nになるのはデータベースのカラムをstring型にしているため。 %>
<% end %>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render "google_maps" unless @user.address == "" %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
